
/* Bitter */
@font-face {
  font-family: bitter;
  src: url(Bitter-Regular.ttf);
}
@font-face {
  font-family: bitter;
  src: url(Bitter-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: bitter;
  src: url(Bitter-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: bitterSpecial;
  src: url(Bitter-Regular.ttf);
  /*             '      */
  unicode-range: U+0027;
}
@font-face {
  font-family: bitterSpecial;
  src: url(Bitter-Bold.ttf);
  font-weight: bold;
  /*             '      */
  unicode-range: U+0027;
}

/* Charis STL */
@font-face {
  font-family: charisSTL;
  src: url(CharisSIL-Regular.ttf);
}
@font-face {
  font-family: charisSTL;
  src: url(CharisSIL-Bold.ttf);
  font-weight: bold;
}

/* Shlomo (Hebrew font) */
@font-face {
  font-family: shlomo;
  src: url(Shlomo.ttf);
}
@font-face {
  font-family: shlomo;
  src: url(ShlomoBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: shlomoStam;
  src: url(ShlomoStam.ttf);
}

/* -------------------------------- */

html {
  font-family: bitter, serif;
  --bg-color: white;
  --fg-color: black;
  --link-color: #0645AD;
  --hover-link-color: #F3470F;
  --grey-link-color: #555;
  --button-focus-color: #6AF;
  --button-border-color: #666;
  --button-bg-color: #EEE;
  --button-light-bg-color: #DDD;
}

.dark-mode {
  --bg-color: #191919;
  --fg-color: #E2E2E2;
  --link-color: #5392f9;
  --hover-link-color: #f45c2a;
  --grey-link-color: #BBB;
  --button-focus-color: #049;
  --button-border-color: #999;
  --button-bg-color: var(--bg-color);
  --button-light-bg-color: #333;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

h1, h2, h3, h4 {
  margin-bottom: 5px;
  text-align: center;
  font-family: bitterSpecial, charisSTL, bitter, serif;
}
h1 {
  font-size: 30pt;
}

.h1He {
  margin-right: 4px;
  font-family: shlomoStam, shlomo, bitter, serif;
}
.h1En {
  margin-left: 4px;
}

.h2He {
  text-align: right;
  width: 100%;
}
.h2En {
  text-align: left;
  width: 100%;
}

a,
a:visited  {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
  color: var(--hover-link-color);
}

.aHilight:hover a {
  color: var(--hover-link-color);
}

a.grey,
a.grey:visited {
  color: var(--grey-link-color);
}
a.grey:hover,
a.grey:focus,
a.grey:visited:hover,
a.grey:visited:focus {
  color: var(--hover-link-color);
}

.aLike {
  cursor: pointer;
}
.aLike:hover {
  color: var(--hover-link-color);
}

.credits {
  text-align: center;
  font-size: 11pt;
  font-style: italic;
}
.credits p {
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
}

.titleAndCredits {
  margin-bottom: 10px;
}

.choices {
  text-align: center;
  margin-bottom: 10px;
}
.choices td {
  padding-left: 3px;
  padding-right: 3px;
}

.choiceLabel {
  text-align: right;
  white-space: nowrap;
}
.choiceSelect {
  text-align: left;
}

.selectContainer select {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  /* width: 45px; */
  /* font-size: 16px; */
  height: 23px;
  padding-left: 5px;
  font-family: bitter, serif;
  font-size: 85%;
  color: var(--fg-color);
}
.selectContainer:hover,
.selectContainer:focus {
  box-shadow: 0 0 2pt 1pt var(--button-focus-color);
  /* # outline: 2px solid #6AF; */
}
.selectContainer {
  /* margin: 50px; */
  /* width: 45px; */
  height: 25px;
  /* border: 1px solid #111; */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: var(--button-light-bg-color);
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  position: relative;
  margin-top: 1px;
  margin-bottom: 1px;
  /* Source: https://stackoverflow.com/a/42087251 */
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: top 50% right 1px;
}
.dark-mode .selectContainer {
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.checkboxes {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.indexCheckboxes {
  margin-top: 40px;
  margin-bottom: 10px;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
}
.checkboxContainer input + label {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-style: solid;
  border-color: var(--button-light-bg-color);
  border-width: 1px;
  margin: 2px;
  padding: 4px;
  float: left;
  background-color: transparent;
  text-align: center;
}
.indexCheckboxes .checkboxContainer input + label {
  border-color: transparent;
}
.checkboxContainer input:checked + label {
  border-color: var(--button-border-color);
  background-color: var(--button-bg-color);
}
.checkboxContainer input + label:hover,
.checkboxContainer input + label:focus {
  border-color: var(--button-border-color);
  border-width: 1px;
  box-shadow: 0 0 2pt 1pt var(--button-focus-color);
  /* # outline: 2px solid #6AF; */
}
.checkboxContainer {
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: var(--button-light-bg-color);
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  position: relative;
  padding: 4px;
}
.indexCheckboxes .checkboxContainer {
  background-color: transparent;
}

.colorCheckboxContainer input + label {
  width: 19px;
  height: 19px;
  color: var(--fg-color);
}
.colorCheckboxContainer input + label .colorSVG {
  fill: var(--fg-color);
}
.colorCheckboxContainer input:checked + label {
  background-image: linear-gradient(to right, rgb(255, 215, 128), rgb(255, 176, 128), rgb(255, 165, 165), rgb(255, 153, 202));
}
.dark-mode .colorCheckboxContainer input:checked + label {
  background-image: linear-gradient(to right, rgb(155, 115, 28), rgb(155, 76, 28), rgb(155, 65, 65), rgb(155, 53, 102));
}
.colorCheckboxContainer input:checked + label .colorSVG {
  fill: transparent
}

.darkCheckboxContainer input + label {
  width: 19px;
  height: 19px;
  color: var(--fg-color);
}

.layoutContainer {
  width: 72px;
}
div.layoutContainer {
  margin-left: 3px;
  margin-right: 3px;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-size: 13pt;
}

.text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.textBlocks {
  text-align: center;
}

.textBlock {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  text-align: left;
}
.textBlockHe {
  text-align: right;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

.he {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 125%;
  font-family: shlomo, bitter, serif;
}
.heStam {
  font-family: shlomoStam, shlomo, bitter, serif;
}

.enMatchingHe {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 125%;
}

.line_no, .line_no_empty {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11pt;
  text-align: center;
  visibility: hidden;
}
.line_no.line_no_visible {
  visibility: visible;
}

.tl {
  padding-right: 10px;
  font-style: italic;
}

.generalNotes {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.allLinks {
  margin-top: 40pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.footer {
  text-align: center;
  margin-top: 10pt;
  margin-bottom: 20pt;
}

.inlineHe {
  font-family: shlomo, bitter, serif;
}

.hidden {
  display: none;
}
.hiddenBlocks {
  display: none;
}

.avoidwrap {
  display: inline-block;
}

.highlighted {
  background-color: rgb(167, 149, 249);
  border-radius: 4px;
}

.underlined {
  text-decoration: underline;
}

.unhighlighted {
  background-color: transparent !important;
}

.noStyle {
  font-style: normal;
}

.inheritFontSize {
  font-size: inherit;
}
